div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 970px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#TabMenu1 {
   float: left;
   font-family: Tahoma;
   font-size: 11px;
   font-weight: normal;
   line-height: normal;
   width: 100%;
}
#TabMenu1 ul {
   list-style: none;
   margin: 0;
   padding: 10px 0px 3px 10px;
}
#TabMenu1 li {
   display: inline;
   margin: 0;
   padding: 0;
}
#TabMenu1 a {
   background: url("../images/style31left.gif") no-repeat left top;
   float: left;
   margin: 0;
   padding: 0 0 0 4px;
   text-decoration: none;
}
#TabMenu1 a span {
   background: url("../images/style31right.gif") no-repeat right top;
   display: block;
   float: none;
   font-weight: bold;
   margin-right: 3px;
   padding: 5px 14px 4px 10px;
   text-decoration: none;
}
#TabMenu1 a:hover span {
   background-position: 100% -42px;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
}
#TabMenu1 a:hover {
   background-position: 0% -42px;
}
#TabMenu1 #active a {
   background-position: 0% -84px;
}
#TabMenu1 #active a span {
   background-position: 100% -84px;
   font-weight: bold;
   text-decoration: none;
}
#TabMenu1 {
   border-bottom: 1px solid #000000;
}
#TabMenu1 a span {
   color: #FFFFFF;
}
#TabMenu1 a:hover span {
   color: #FFFFFF;
}
#TabMenu1 #active a span {
   color: #FFFFFF;
}
#Shape1 {
   border-width: 0;
}
#Shape2 {
   border-width: 0;
}
#Shape3 {
   border-width: 0;
}
#Layer3 {
   background-color: #1E90FF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius: 1px;
}
#Layer4 {
   background-color: #D2691E;
   background-image: none;
   border: 1px transparent solid;
}
#Label1 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Layer1 {
   background-color: #1E90FF;
   background-image: none;
}
#Label2 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 17px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Breadcrumb2 {
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
   font-family: Arial;
   font-size: 0;
   font-weight: normal;
   list-style: none;
   padding: 8px 15px 8px 15px;
}
#Breadcrumb2 > li {
   display: inline-block;
   font-size: 16px;
}
#Breadcrumb2 a {
   color: #D2691E;
   text-decoration: none;
}
#Breadcrumb2 a:hover {
   color: #23527C;
   text-decoration: underline;
}
#Breadcrumb2 > .active {
   color: #777777;
}
#Breadcrumb2 > li + li:before {
   color: #D2691E;
   content: ">";
   padding: 0 5px;
}
#Breadcrumb2 li i {
   font-size: 16px;
   width: 18px;
}
#Label2 {
   height: 21px;
   left: 739px;
   line-height: 21px;
   position: absolute;
   top: 2px;
   width: 222px;
   z-index: 5;
}
#Shape1 {
   height: 59px;
   width: 310px;
}
#wb_TabMenu1 {
   height: 97px;
   left: 170px;
   position: absolute;
   top: 433px;
   width: 369px;
   z-index: 6;
}
#Shape2 {
   height: 32px;
   width: 310px;
}
#Banner1 {
   border-width: 0;
   height: 43px;
   left: 610px;
   position: absolute;
   top: 320px;
   width: 350px;
   z-index: 7;
}
#Shape3 {
   height: 50px;
   width: 65px;
}
#Layer1 {
   height: 32px;
   left: 1px;
   position: absolute;
   text-align: left;
   top: 40px;
   width: 969px;
   z-index: 10;
}
#Layer4_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 318px;
}
#Layer3 {
   height: 108px;
   left: 0px;
   position: absolute;
   text-align: center;
   top: 154px;
   width: 968px;
   z-index: 9;
}
#Layer4 {
   height: 48px;
   left: 648px;
   position: absolute;
   text-align: center;
   top: 0px;
   width: 318px;
   z-index: 1;
}
#Layer3_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 968px;
}
#wb_Shape1 {
   height: 59px;
   left: 560px;
   position: absolute;
   top: 431px;
   width: 310px;
   z-index: 8;
}
#wb_Breadcrumb2 {
   height: 30px;
   left: 0px;
   position: absolute;
   top: 10px;
   width: 970px;
   z-index: 11;
}
#wb_Shape2 {
   height: 32px;
   left: 659px;
   position: absolute;
   top: 0px;
   width: 310px;
   z-index: 4;
}
#wb_Shape3 {
   height: 50px;
   left: 583px;
   position: absolute;
   top: 0px;
   width: 65px;
   z-index: 2;
}
#Label1 {
   height: 26px;
   left: 9px;
   line-height: 26px;
   position: absolute;
   top: 7px;
   width: 292px;
   z-index: 0;
}
