div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 970px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Breadcrumb2 {
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
   font-family: Arial;
   font-size: 0;
   font-weight: normal;
   list-style: none;
   padding: 8px 15px 8px 15px;
}
#Breadcrumb2 > li {
   display: inline-block;
   font-size: 16px;
}
#Breadcrumb2 a {
   color: #D2691E;
   text-decoration: none;
}
#Breadcrumb2 a:hover {
   color: #23527C;
   text-decoration: underline;
}
#Breadcrumb2 > .active {
   color: #777777;
}
#Breadcrumb2 > li + li:before {
   color: #D2691E;
   content: ">";
   padding: 0 5px;
}
#Breadcrumb2 li i {
   font-size: 16px;
   width: 18px;
}
#Layer4 {
   background-color: #1E90FF;
   background-image: none;
}
#Shape2 {
   border-width: 0;
}
#Label3 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 17px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Layer2 {
   background-color: #F5F5F5;
   background-image: none;
}
#jd {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#jd:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#Label4 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox2 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox2:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#Editbox6 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox6:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#Editbox7 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox7:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#Combobox1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 2px;
   -moz-box-sizing: border-box;
   -webkit-border-radius: 2px;
   -webkit-box-sizing: border-box;
   border-radius: 2px;
   box-sizing: border-box;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
}
#Combobox1:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text1 div {
   text-align: left;
   white-space: nowrap;
}
#Editbox3 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox3:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#Layer3 {
   background-color: transparent;
   background-image: none;
}
#wb_Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text2 div {
   text-align: left;
   white-space: nowrap;
}
#wb_Text3 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text3 div {
   text-align: left;
   white-space: nowrap;
}
#wb_Text4 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text4 div {
   text-align: left;
   white-space: nowrap;
}
#wb_Text5 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text5 div {
   text-align: left;
   white-space: nowrap;
}
#Editbox8 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox8:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#Editbox4 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox4:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#btnvalide {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
   font-weight: bold;
}
#btnvalide:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Layer1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#wb_Text6 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text6 div {
   text-align: left;
   white-space: nowrap;
}
#FileUpload1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #A9A9A9 solid;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
}
#wb_uid1 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
}
#wb_uid2 {
   height: 24px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 201px;
}
#wb_Text1 {
   height: 24px;
   left: 81px;
   position: absolute;
   text-align: left;
   top: 95px;
   width: 60px;
   z-index: 17;
}
#Editbox2 {
   height: 26px;
   left: 244px;
   line-height: 26px;
   position: absolute;
   top: 89px;
   width: 230px;
   z-index: 13;
}
#Label3 {
   height: 21px;
   left: 739px;
   line-height: 21px;
   position: absolute;
   top: 2px;
   width: 222px;
   z-index: 1;
}
#RadioButton1 {
   left: 220px;
   position: absolute;
   top: 26px;
   z-index: 3;
}
#wb_uid3 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
}
#wb_Text2 {
   height: 24px;
   left: 9px;
   position: absolute;
   text-align: left;
   top: 24px;
   width: 201px;
   z-index: 2;
}
#Editbox3 {
   height: 26px;
   left: 509px;
   line-height: 26px;
   position: absolute;
   top: 89px;
   width: 342px;
   z-index: 18;
}
#Label4 {
   height: 26px;
   left: 81px;
   line-height: 26px;
   position: absolute;
   top: 15px;
   width: 764px;
   z-index: 12;
}
#Shape2 {
   height: 32px;
   width: 310px;
}
#Editbox4 {
   height: 26px;
   left: 293px;
   line-height: 26px;
   position: absolute;
   top: 60px;
   width: 307px;
   z-index: 10;
}
#RadioButton2 {
   left: 343px;
   position: absolute;
   top: 22px;
   z-index: 5;
}
#wb_uid4 {
   height: 24px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 70px;
}
#wb_Text3 {
   height: 24px;
   left: 250px;
   position: absolute;
   text-align: left;
   top: 24px;
   width: 70px;
   z-index: 4;
}
#Layer1 {
   height: 170px;
   left: 527px;
   position: absolute;
   text-align: left;
   top: 314px;
   width: 221px;
   z-index: 21;
}
#RadioButton3 {
   left: 510px;
   position: absolute;
   top: 24px;
   z-index: 7;
}
#wb_Text4 {
   height: 24px;
   left: 373px;
   position: absolute;
   text-align: left;
   top: 22px;
   width: 110px;
   z-index: 6;
}
#wb_uid5 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
}
#wb_Text5 {
   height: 24px;
   left: 540px;
   position: absolute;
   text-align: left;
   top: 24px;
   width: 70px;
   z-index: 8;
}
#wb_uid6 {
   height: 24px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 110px;
}
#Editbox6 {
   height: 26px;
   left: 201px;
   line-height: 26px;
   position: absolute;
   top: 450px;
   width: 230px;
   z-index: 14;
}
#Layer2 {
   height: 615px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 60px;
   width: 970px;
   z-index: 35;
}
#wb_Text6 {
   height: 24px;
   left: 540px;
   position: absolute;
   text-align: left;
   top: 560px;
   width: 250px;
   z-index: 22;
}
#wb_uid7 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
}
#Layer3 {
   height: 145px;
   left: 11px;
   position: absolute;
   text-align: left;
   top: 145px;
   width: 910px;
   z-index: 19;
}
#Editbox7 {
   height: 26px;
   left: 114px;
   line-height: 26px;
   position: absolute;
   top: 510px;
   width: 230px;
   z-index: 15;
}
#Editbox8 {
   height: 26px;
   left: 620px;
   line-height: 26px;
   position: absolute;
   top: 16px;
   width: 260px;
   z-index: 9;
}
#wb_uid8 {
   height: 24px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 70px;
}
#Layer4 {
   height: 32px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 30px;
   width: 969px;
   z-index: 34;
}
#wb_uid10 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid9 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
}
#FileUpload1 {
   height: 22px;
   left: 196px;
   line-height: 22px;
   position: absolute;
   top: 314px;
   width: 198px;
   z-index: 23;
}
#jd {
   height: 26px;
   left: 141px;
   line-height: 26px;
   position: absolute;
   top: 375px;
   width: 230px;
   z-index: 11;
}
#btnvalide {
   height: 50px;
   left: 770px;
   position: absolute;
   top: 420px;
   width: 150px;
   z-index: 20;
}
#Combobox1 {
   height: 36px;
   left: 141px;
   position: absolute;
   top: 89px;
   width: 90px;
   z-index: 16;
}
#wb_Shape2 {
   height: 32px;
   left: 659px;
   position: absolute;
   top: 0px;
   width: 310px;
   z-index: 0;
}
#wb_Breadcrumb2 {
   height: 30px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 970px;
   z-index: 33;
}
#wb_uid0 {
   height: 24px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 60px;
}
