div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 970px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
.SiteTree1 {
   background-color: transparent;
   background-image: none;
   border: 1px transparent solid;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
}
#wb_PanelMenu1 a,
#PanelMenu1_markup li a {
   display: block;
   text-align: center;
   vertical-align: middle;
}
#PanelMenu1_markup {
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup ul {
   list-style-type: none;
   list-style: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a,
#PanelMenu1_markup li a:hover {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   border-bottom-width: 1px;
   border-radius: 0;
   border-width: 0;
   box-shadow: none;
   padding: 10px 10px 10px 10px;
}
#PanelMenu1_panel {
   display: none;
   height: 100%;
   position: absolute;
   position: fixed;
   top: 0;
   width: 250px;
   z-index: 9999;
}
#wb_PanelMenu1 a,
#PanelMenu1_markup li a {
   background-color: #3E3E3E;
   border: 1px #2E2E2E solid;
   color: #F7F7F7;
   font-family: Arial;
   font-size: 21px;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
}
#wb_PanelMenu1 a:hover,
#PanelMenu1_markup li a:hover {
   background-color: #484848;
   border: 1px #2E2E2E solid;
   color: #F7F7F7;
}
#PanelMenu1_panel {
   background-color: #3E3E3E;
   overflow-y: auto;
}
#PanelMenu1 {
   height: 278px;
   line-height: 278px;
   width: 298px;
}
#jQueryMenu1,
#jQueryMenu1 .ui-menu-item a {
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   text-decoration: none;
}
#jQueryMenu1 .ui-menu-item a:visited {
   color: #222222;
}
#jQueryMenu1 > li {
   display: inline-block;
   list-style: none;
   width: auto;
}
#jQueryMenu1 .ui-menu-item {
   line-height: 23px;
   padding: 4px 4px 4px 4px;
}
#jQueryMenu1 > .ui-menu-item {
   padding: 4px 20px 4px 4px;
}
#jQueryMenu1 ul {
   width: 130px;
}
#Label2 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#newmenu {
   -moz-box-shadow: 0px 0px 1px #A9A9A9;
   -webkit-box-shadow: 0px 0px 1px #A9A9A9;
   background-color: #1E90FF;
   background-image: none;
   border: 1px #CCCCCC solid;
   box-shadow: 0px 0px 1px #A9A9A9;
}
#menu ul.navbar {
   list-style: none;
   margin: 0;
   padding: 0;
}
#menu ul.navbar li {
   float: left;
   height: 37px;
   margin: 0 0px 0 0;
   overflow: hidden;
   width: 135px;
}
#menu ul.navbar li a {
   display: block;
   position: relative;
}
#menu ul.navbar li a img {
   border-width: 0;
   left: 0;
   position: absolute;
   z-index: 1;
}
#menu ul.navbar li span {
   display: block;
   height: 37px;
   position: absolute;
   width: 135px;
   z-index: 2;
}
#menu_wrapper {
   background-color: #FFFFFF;
   filter: alpha(opacity=0);
   opacity: 0.00;
   position: absolute;
   z-index: 9999;
}
#NavigationBar1 ul.navbar {
   list-style: none;
   margin: 0;
   padding: 0;
}
#NavigationBar1 ul.navbar li {
   float: left;
   height: 42px;
   margin: 0 0px 0 0;
   width: 135px;
}
#NavigationBar1 ul.navbar li a {
   display: block;
   position: relative;
}
#NavigationBar1 ul.navbar li a img {
   border-width: 0;
   left: 0;
   position: absolute;
   z-index: 1;
}
#NavigationBar1 ul.navbar li span {
   display: block;
   height: 42px;
   position: absolute;
   width: 135px;
   z-index: 2;
}
#Label2 {
   height: 26px;
   left: 742px;
   line-height: 26px;
   position: absolute;
   top: 440px;
   width: 232px;
   z-index: 3;
}
#newmenu_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 968px;
}
#wb_jQueryMenu1 {
   height: 420px;
   left: 380px;
   position: absolute;
   top: 810px;
   width: 540px;
   z-index: 1002;
}
#NavigationBar1 {
   height: 42px;
   left: 10px;
   position: absolute;
   top: 230px;
   width: 950px;
   z-index: 6;
}
#newmenu {
   height: 50px;
   left: 0px;
   position: absolute;
   text-align: center;
   top: 30px;
   width: 968px;
   z-index: 4;
}
#wb_PanelMenu1 {
   height: 278px;
   left: 380px;
   position: absolute;
   text-align: center;
   top: 510px;
   width: 298px;
   z-index: 1;
}
#SiteTree1 {
   height: 278px;
   left: 40px;
   overflow: auto;
   position: absolute;
   top: 460px;
   width: 188px;
   z-index: 0;
}
#menu {
   height: 37px;
   left: 0px;
   position: absolute;
   top: 110px;
   width: 950px;
   z-index: 5;
}
