div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 970px;
}
body {
   background-color: #FFFFFF;
   background-image: url(../images/monnaies_bkgrnd.png);
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#jcrum {
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
   font-family: Arial;
   font-size: 0;
   font-weight: normal;
   list-style: none;
   padding: 8px 15px 8px 15px;
}
#jcrum > li {
   display: inline-block;
   font-size: 16px;
}
#jcrum a {
   color: #D2691E;
   text-decoration: none;
}
#jcrum a:hover {
   color: #23527C;
   text-decoration: underline;
}
#jcrum > .active {
   color: #777777;
}
#jcrum > li + li:before {
   color: #D2691E;
   content: ">";
   padding: 0 5px;
}
#jcrum li i {
   font-size: 16px;
   width: 18px;
}
#divprinc {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#bienvenu_ {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#ban {
   background-color: #1E90FF;
   background-image: none;
}
#oran {
   border-width: 0;
}
#txtprofil {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 17px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#photoprofil {
   -moz-box-shadow: 0px 0px 10px #000000;
   -webkit-box-shadow: 0px 0px 10px #000000;
   border: 0px #FF7F50 solid;
   box-shadow: 0px 0px 10px #000000;
   height: 100%;
   left: 0;
   padding: 0px 0px 0px 0px;
   top: 0;
   width: 100%;
}
#wb_numcompt {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_numcompt div {
   text-align: left;
   white-space: nowrap;
}
#wb_numero_compt {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_numero_compt div {
   text-align: left;
   white-space: nowrap;
}
#wb_type_de_compte {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_type_de_compte div {
   text-align: left;
   white-space: nowrap;
}
#wb_prenom {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_prenom div {
   text-align: left;
   white-space: nowrap;
}
#btndeconn {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
   font-weight: bold;
}
#btndeconn:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#btn_act {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#info {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#wb_derniereseesion {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_derniereseesion div {
   text-align: left;
   white-space: nowrap;
}
#btn_connexionp {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   height: 50px;
   top: 0px;
   width: 150px;
}
#btn_connexionp:hover {
   background-color: #D2691E;
   background-image: none;
   border: 0px #CD853F solid;
}
#btn_connexionp_text {
   height: 35px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 14px;
   width: 148px;
}
#btn_connexionp:hover span {
   color: #0000FF  !important;
}
#btn_connexionp span:hover {
   color: #0000FF  !important;
}
#btn_connexionp:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#pret {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   height: 50px;
   top: 0px;
   width: 150px;
}
#pret:hover {
   background-color: #D2691E;
   background-image: none;
   border: 0px #CD853F solid;
}
#pret_text {
   height: 35px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 14px;
   width: 148px;
}
#pret:hover span {
   color: #0000FF  !important;
}
#pret span:hover {
   color: #0000FF  !important;
}
#pret:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#viremen {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   height: 50px;
   top: 0px;
   width: 150px;
}
#viremen:hover {
   background-color: #D2691E;
   background-image: none;
   border: 0px #CD853F solid;
}
#viremen_text {
   height: 35px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 14px;
   width: 148px;
}
#viremen:hover span {
   color: #0000FF  !important;
}
#viremen span:hover {
   color: #0000FF  !important;
}
#viremen:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#wb_sold {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_sold div {
   text-align: left;
   white-space: nowrap;
}
#table {
   background-color: #FFFFFF;
   background-image: none;
}
#Divhead {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#head {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px transparent solid;
}
#band {
   border-width: 0;
}
#edit_reche {
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   border-bottom-color: #1E90FF;
   border-bottom-left-radius: 1px;
   border-bottom-right-radius: 1px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-left-color: #1E90FF;
   border-left-style: solid;
   border-left-width: 1px;
   border-radius: 4px;
   border-right-color: #1E90FF;
   border-right-style: solid;
   border-right-width: 1px;
   border-top-color: #1E90FF;
   border-top-left-radius: 1px;
   border-top-right-radius: 1px;
   border-top-style: solid;
   border-top-width: 1px;
   color: #000000;
   font-family: Arial;
   font-size: 15px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#edit_reche:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#wb_icosear {
   border: 1px transparent solid;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   background-color: transparent;
   background-image: none;
   border-radius: 1px;
   padding: 0px 0px 0px 0px;
   text-align: center;
}
#wb_icosear:hover {
   background-color: transparent;
   background-image: none;
   border: 1px transparent solid;
}
#icosear {
   height: 18px;
   width: 18px;
}
#icosear i {
   color: #CD853F;
   display: inline-block;
   font-size: 18px;
   line-height: 18px;
   vertical-align: middle;
   width: 19px;
}
#wb_icosear:hover i {
   color: #1E90FF;
}
#wb_local {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_local div {
   text-align: left;
   white-space: nowrap;
}
#wb_icolocal {
   background-color: transparent;
   background-image: none;
   border: 0px #1E90FF solid;
   padding: 0px 0px 0px 0px;
   text-align: center;
}
#wb_icolocal:hover {
   background-color: transparent;
   background-image: none;
   border: 0px #1E90FF solid;
}
#icolocal {
   height: 23px;
   width: 30px;
}
#icolocal i {
   color: #1E90FF;
   display: inline-block;
   font-size: 23px;
   line-height: 23px;
   vertical-align: middle;
   width: 13px;
}
#wb_icolocal:hover i {
   color: #1E90FF;
}
#wb_txtacc {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_txtacc div {
   text-align: center;
   white-space: nowrap;
}
#logo {
   border: 0px #000000 solid;
   height: 100%;
   left: 0;
   padding: 0px 0px 0px 0px;
   top: 0;
   width: 100%;
}
#Nav ul.navbar {
   list-style: none;
   margin: 0;
   padding: 0;
}
#Nav ul.navbar li {
   float: left;
   height: 42px;
   margin: 0 0px 0 0;
   width: 161px;
}
#Nav ul.navbar li a {
   display: block;
   position: relative;
}
#Nav ul.navbar li a img {
   border-width: 0;
   left: 0;
   position: absolute;
   z-index: 1;
}
#Nav ul.navbar li span {
   display: block;
   height: 42px;
   position: absolute;
   width: 161px;
   z-index: 2;
}
#foot {
   background-color: #808080;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Shape1 {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   height: 50px;
   top: 0px;
   width: 150px;
}
#Shape1:hover {
   background-color: #D2691E;
   background-image: none;
   border: 0px #CD853F solid;
}
#Shape1_text {
   height: 35px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 14px;
   width: 148px;
}
#Shape1:hover span {
   color: #0000FF  !important;
}
#Shape1 span:hover {
   color: #0000FF  !important;
}
#Shape1:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Shape2 {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   height: 50px;
   top: 0px;
   width: 150px;
}
#Shape2:hover {
   background-color: #D2691E;
   background-image: none;
   border: 0px #CD853F solid;
}
#Shape2_text {
   height: 35px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 14px;
   width: 148px;
}
#Shape2:hover span {
   color: #0000FF  !important;
}
#Shape2 span:hover {
   color: #0000FF  !important;
}
#Shape2:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Shape3 {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   height: 50px;
   top: 0px;
   width: 150px;
}
#Shape3:hover {
   background-color: #D2691E;
   background-image: none;
   border: 0px #CD853F solid;
}
#Shape3_text {
   height: 35px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 14px;
   width: 148px;
}
#Shape3:hover span {
   color: #0000FF  !important;
}
#Shape3 span:hover {
   color: #0000FF  !important;
}
#Shape3:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#wb_cfaa {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_cfaa div {
   text-align: left;
   white-space: nowrap;
}
#tablaff {
   background-color: transparent;
   background-image: none;
   border: 2px #C0C0C0 solid;
   border-collapse: separate;
   border-spacing: 0px;
}
#tablaff td {
   padding: 0px 0px 0px 0px;
}
#tablaff td div {
   white-space: nowrap;
}
#tablaff .cell0 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   height: 53px;
   text-align: center;
   vertical-align: top;
   width: 234px;
}
#tablaff .cell1 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   height: 53px;
   text-align: center;
   vertical-align: top;
}
#tablaff .cell2 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   height: 53px;
   text-align: left;
   vertical-align: top;
   width: 234px;
}
#tablaff .cell3 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   height: 53px;
   text-align: left;
   vertical-align: top;
}
#tablaff .cell4 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   height: 54px;
   text-align: left;
   vertical-align: top;
   width: 234px;
}
#tablaff .cell5 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   height: 54px;
   text-align: left;
   vertical-align: top;
}
#His {
   background-color: #FFFFFF;
   background-image: none;
}
#wb_d_ {
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#d_ {
   color: #1E90FF;
   font-family: Arial;
   font-size: 32px;
   font-weight: bold;
   margin: 0;
   text-align: center;
}
#lik {
   background-color: #1E90FF;
   border-width: 0;
   color: #1E90FF;
   margin: 0;
   padding: 0;
}
#Lie2 {
   background-color: #1E90FF;
   border-width: 0;
   color: #1E90FF;
   margin: 0;
   padding: 0;
}
#d {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#ebtn {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
   font-weight: bold;
}
#ebtn:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#divv {
   background-color: #FFFFFF;
   background-image: none;
}
#éz {
   background-color: #1E90FF;
   border-width: 0;
   color: #1E90FF;
   margin: 0;
   padding: 0;
}
#wb_h {
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#h {
   color: #1E90FF;
   font-family: Arial;
   font-size: 32px;
   font-weight: bold;
   margin: 0;
   text-align: center;
}
#k {
   background-color: #1E90FF;
   border-width: 0;
   color: #1E90FF;
   margin: 0;
   padding: 0;
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text1 div {
   text-align: left;
   white-space: nowrap;
}
#wb_Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text2 div {
   text-align: left;
   white-space: nowrap;
}
#wb_Text3 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text3 div {
   text-align: left;
   white-space: nowrap;
}
#Combobox2 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 2px;
   -moz-box-sizing: border-box;
   -webkit-border-radius: 2px;
   -webkit-box-sizing: border-box;
   border-radius: 2px;
   box-sizing: border-box;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
}
#Combobox2:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#wb_iban {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_iban div {
   text-align: left;
   white-space: nowrap;
}
#wb_swift {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_swift div {
   text-align: left;
   white-space: nowrap;
}
#wb_agebce {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_agebce div {
   text-align: left;
   white-space: nowrap;
}
#wb_contactgest {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_contactgest div {
   text-align: left;
   white-space: nowrap;
}
#wb_montantsold {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_montantsold div {
   text-align: left;
   white-space: nowrap;
}
#wb_nom {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_nom div {
   text-align: left;
   white-space: nowrap;
}
#wb_bdnom {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_bdnom div {
   text-align: left;
   white-space: nowrap;
}
#wb_bdprenom {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_bdprenom div {
   text-align: left;
   white-space: nowrap;
}
#wb_bdtypcompt {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_bdtypcompt div {
   text-align: left;
   white-space: nowrap;
}
#wb_bdnumrocompt {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_bdnumrocompt div {
   text-align: left;
   white-space: nowrap;
}
#wb_bdiban {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_bdiban div {
   text-align: left;
   white-space: nowrap;
}
#wb_bdswift {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_bdswift div {
   text-align: left;
   white-space: nowrap;
}
#wb_bdvillz {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_bdvillz div {
   text-align: left;
   white-space: nowrap;
}
#wb_bdgestionnaire {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_bdgestionnaire div {
   text-align: left;
   white-space: nowrap;
}
#wb_bdcontac {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_bdcontac div {
   text-align: left;
   white-space: nowrap;
}
#wb_datesession {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_datesession div {
   text-align: left;
   white-space: nowrap;
}
#head {
   height: 204px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 0px;
   width: 967px;
   z-index: 71;
}
#wb_derniereseesion {
   height: 24px;
   left: 19px;
   position: absolute;
   text-align: left;
   top: 413px;
   width: 186px;
   z-index: 23;
}
#wb_uid19 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_bdvillz {
   height: 24px;
   left: 101px;
   position: absolute;
   text-align: left;
   top: 335px;
   width: 139px;
   z-index: 20;
}
#wb_agebce {
   height: 24px;
   left: 19px;
   position: absolute;
   text-align: left;
   top: 335px;
   width: 80px;
   z-index: 15;
}
#wb_sold {
   height: 24px;
   left: 240px;
   position: absolute;
   text-align: left;
   top: 36px;
   width: 60px;
   z-index: 10;
}
#wb_uid1 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
#wb_Text1 {
   height: 24px;
   left: 144px;
   position: absolute;
   text-align: left;
   top: 169px;
   width: 176px;
   z-index: 89;
}
#wb_band {
   height: 100px;
   left: 259px;
   position: absolute;
   top: 39px;
   width: 470px;
   z-index: 64;
}
#basicdate {
   color: #000000;
   font-family: Arial;
   font-size: 12px;
   font-style: normal;
   font-weight: normal;
   text-align: left;
   text-decoration: none;
}
#wb_bdcontac {
   height: 24px;
   left: 232px;
   position: absolute;
   text-align: left;
   top: 383px;
   width: 104px;
   z-index: 22;
}
#wb_iban {
   height: 24px;
   left: 19px;
   position: absolute;
   text-align: left;
   top: 275px;
   width: 60px;
   z-index: 16;
}
#wb_uid2 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
#wb_Text2 {
   height: 24px;
   left: 324px;
   position: absolute;
   text-align: left;
   top: 169px;
   width: 80px;
   z-index: 90;
}
#wb_icolocal {
   height: 23px;
   left: 899px;
   position: absolute;
   text-align: center;
   top: 9px;
   width: 30px;
   z-index: 68;
}
#wb_icosear {
   height: 18px;
   left: 899px;
   position: absolute;
   text-align: center;
   top: 159px;
   width: 18px;
   z-index: 66;
}
#wb_uid3 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
#wb_Text3 {
   height: 24px;
   left: 104px;
   position: absolute;
   text-align: left;
   top: 219px;
   width: 340px;
   z-index: 91;
}
#tablaff {
   height: 557px;
   left: 35px;
   position: absolute;
   top: 120px;
   width: 476px;
   z-index: 27;
}
#wb_bdnom {
   height: 24px;
   left: 125px;
   position: absolute;
   text-align: left;
   top: 173px;
   width: 185px;
   z-index: 25;
}
#wb_bdiban {
   height: 24px;
   left: 82px;
   position: absolute;
   text-align: left;
   top: 275px;
   width: 158px;
   z-index: 18;
}
#wb_uid4 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
#wb_uid50 {
   color: #696969;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_local {
   height: 17px;
   left: 716px;
   position: absolute;
   text-align: left;
   top: 15px;
   width: 185px;
   z-index: 67;
}
#wb_prenom {
   height: 24px;
   left: 19px;
   position: absolute;
   text-align: left;
   top: 359px;
   width: 130px;
   z-index: 8;
}
#wb_uid5 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
#wb_uid51 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#k {
   height: 8px;
   left: 15px;
   position: absolute;
   top: 9px;
   width: 428px;
   z-index: 85;
}
#wb_h {
   height: 40px;
   left: 9px;
   position: absolute;
   text-align: center;
   top: 17px;
   width: 440px;
   z-index: 84;
}
#divv {
   height: 75px;
   left: 45px;
   position: absolute;
   text-align: left;
   top: 29px;
   width: 458px;
   z-index: 88;
}
#wb_uid40 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid6 {
   color: #696969;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_viremen {
   height: 50px;
   left: 8px;
   position: absolute;
   top: 189px;
   width: 150px;
   z-index: 1;
}
#wb_logo {
   height: 200px;
   left: 9px;
   position: absolute;
   top: 4px;
   width: 240px;
   z-index: 70;
}
#band {
   height: 100px;
   width: 470px;
}
#wb_uid41 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid30 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_photoprofil {
   height: 154px;
   left: 8px;
   position: absolute;
   top: 9px;
   width: 171px;
   z-index: 12;
}
#wb_uid7 {
   color: #696969;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid42 {
   height: 16px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 185px;
}
#edit_reche {
   height: 19px;
   left: 729px;
   line-height: 19px;
   position: absolute;
   top: 159px;
   width: 190px;
   z-index: 65;
}
#wb_uid31 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_bdprenom {
   height: 24px;
   left: 123px;
   position: absolute;
   text-align: left;
   top: 197px;
   width: 188px;
   z-index: 26;
}
#wb_datesession {
   height: 24px;
   left: 216px;
   position: absolute;
   text-align: left;
   top: 413px;
   width: 108px;
   z-index: 24;
}
#wb_uid20 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid8 {
   color: #696969;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_numcompt {
   height: 24px;
   left: 19px;
   position: absolute;
   text-align: left;
   top: 253px;
   width: 139px;
   z-index: 7;
}
#wb_nom {
   height: 24px;
   left: 59px;
   position: absolute;
   text-align: left;
   top: 590px;
   width: 61px;
   z-index: 104;
}
#éz {
   height: 8px;
   left: 15px;
   position: absolute;
   top: 57px;
   width: 428px;
   z-index: 86;
}
#ebtn {
   height: 50px;
   left: 199px;
   position: absolute;
   top: 409px;
   width: 150px;
   z-index: 87;
}
#lik {
   height: 8px;
   left: 15px;
   position: absolute;
   top: 9px;
   width: 428px;
   z-index: 82;
}
#wb_uid43 {
   color: #D3D3D3;
   font-family: Arial;
   font-size: 15px;
}
#wb_uid32 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#table {
   height: 700px;
   left: 399px;
   position: absolute;
   text-align: left;
   top: 129px;
   width: 550px;
   z-index: 32;
}
#wb_uid21 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_contactgest {
   height: 24px;
   left: 19px;
   position: absolute;
   text-align: left;
   top: 383px;
   width: 205px;
   z-index: 14;
}
#wb_uid10 {
   color: #696969;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid9 {
   color: #696969;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#bienvenu_ {
   height: 26px;
   left: 234px;
   line-height: 26px;
   position: absolute;
   top: 59px;
   width: 493px;
   z-index: 28;
}
#wb_d_ {
   height: 40px;
   left: 9px;
   position: absolute;
   text-align: center;
   top: 17px;
   width: 440px;
   z-index: 81;
}
#wb_uid44 {
   height: 22px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 350px;
}
#Divhead {
   height: 278px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 0px;
   width: 970px;
   z-index: 99;
}
#ban {
   height: 32px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 310px;
   width: 969px;
   z-index: 98;
}
#wb_uid33 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid22 {
   color: #696969;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_bdnumrocompt {
   height: 24px;
   left: 158px;
   position: absolute;
   text-align: left;
   top: 253px;
   width: 180px;
   z-index: 17;
}
#wb_uid11 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#divprinc {
   height: 838px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 310px;
   width: 968px;
   z-index: 97;
}
#wb_uid45 {
   color: #D3D3D3;
   font-family: Arial;
   font-size: 19px;
}
#wb_uid34 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid23 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid12 {
   color: #696969;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_jcrum {
   height: 30px;
   left: 0px;
   position: absolute;
   top: 280px;
   width: 970px;
   z-index: 96;
}
#wb_uid46 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_oran {
   height: 32px;
   left: 659px;
   position: absolute;
   top: 0px;
   width: 310px;
   z-index: 34;
}
#wb_uid35 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid24 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_bdgestionnaire {
   height: 24px;
   left: 149px;
   position: absolute;
   text-align: left;
   top: 359px;
   width: 200px;
   z-index: 21;
}
#wb_uid13 {
   color: #696969;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_type_de_compte {
   height: 24px;
   left: 19px;
   position: absolute;
   text-align: left;
   top: 229px;
   width: 160px;
   z-index: 9;
}
#wb_uid47 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#Lie2 {
   height: 8px;
   left: 15px;
   position: absolute;
   top: 57px;
   width: 428px;
   z-index: 83;
}
#copyrightnotice {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 12px;
   font-style: normal;
   font-weight: normal;
   text-align: center;
   text-decoration: none;
}
#wb_uid36 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid25 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid14 {
   color: #696969;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_swift {
   height: 24px;
   left: 19px;
   position: absolute;
   text-align: left;
   top: 299px;
   width: 80px;
   z-index: 13;
}
#wb_pret {
   height: 50px;
   left: 209px;
   position: absolute;
   top: 29px;
   width: 150px;
   z-index: 0;
}
#wb_uid48 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid37 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid26 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid15 {
   color: #696969;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#btn_act {
   height: 278px;
   left: 9px;
   position: absolute;
   text-align: left;
   top: 549px;
   width: 368px;
   z-index: 30;
}
#wb_uid49 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#His {
   height: 75px;
   left: 430px;
   position: absolute;
   text-align: left;
   top: 460px;
   width: 458px;
   z-index: 101;
}
#foot_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 970px;
}
#foot {
   height: 360px;
   left: 0px;
   position: absolute;
   text-align: center;
   top: 1150px;
   width: 970px;
   z-index: 100;
}
#Nav {
   height: 42px;
   left: 0px;
   position: absolute;
   top: 215px;
   width: 969px;
   z-index: 72;
}
#wb_txtacc {
   height: 23px;
   left: 319px;
   position: absolute;
   text-align: center;
   top: 149px;
   width: 350px;
   z-index: 69;
}
#txtprofil {
   height: 21px;
   left: 739px;
   line-height: 21px;
   position: absolute;
   top: 2px;
   width: 222px;
   z-index: 35;
}
#wb_uid38 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid27 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_bdswift {
   height: 24px;
   left: 94px;
   position: absolute;
   text-align: left;
   top: 299px;
   width: 180px;
   z-index: 19;
}
#wb_uid16 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#info {
   height: 442px;
   left: 9px;
   position: absolute;
   text-align: left;
   top: 105px;
   width: 368px;
   z-index: 31;
}
#wb_Shape1 {
   height: 50px;
   left: 8px;
   position: absolute;
   top: 89px;
   width: 150px;
   z-index: 4;
}
#btndeconn {
   height: 50px;
   left: 789px;
   position: absolute;
   top: 69px;
   width: 150px;
   z-index: 29;
}
#wb_bdtypcompt {
   height: 24px;
   left: 205px;
   position: absolute;
   text-align: left;
   top: 650px;
   width: 130px;
   z-index: 105;
}
#d {
   height: 698px;
   left: 400px;
   position: absolute;
   text-align: left;
   top: 440px;
   width: 548px;
   z-index: 102;
}
#wb_JavaScript1 {
   height: 22px;
   left: 284px;
   position: absolute;
   top: 329px;
   width: 400px;
   z-index: 80;
}
#wb_uid39 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid28 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid17 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_cfaa {
   height: 24px;
   left: 240px;
   position: absolute;
   text-align: left;
   top: 88px;
   width: 60px;
   z-index: 11;
}
#wb_btn_connexionp {
   height: 50px;
   left: 8px;
   position: absolute;
   top: 29px;
   width: 150px;
   z-index: 5;
}
#wb_Shape2 {
   height: 50px;
   left: 209px;
   position: absolute;
   top: 89px;
   width: 150px;
   z-index: 3;
}
#wb_montantsold {
   height: 24px;
   left: 227px;
   position: absolute;
   text-align: left;
   top: 477px;
   width: 108px;
   z-index: 103;
}
#Combobox2 {
   height: 36px;
   left: 229px;
   position: absolute;
   top: 259px;
   width: 90px;
   z-index: 92;
}
#oran {
   height: 32px;
   width: 310px;
}
#wb_JavaScript2 {
   height: 58px;
   left: 18px;
   position: absolute;
   top: 47px;
   width: 160px;
   z-index: 33;
}
#wb_uid29 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid18 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_numero_compt {
   height: 24px;
   left: 19px;
   position: absolute;
   text-align: left;
   top: 194px;
   width: 90px;
   z-index: 6;
}
#wb_Shape3 {
   height: 50px;
   left: 209px;
   position: absolute;
   top: 189px;
   width: 150px;
   z-index: 2;
}
#wb_uid0 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
