div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 970px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#FileUpload1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #A9A9A9 solid;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
}
#FileUpload1 {
   height: 18px;
   left: 140px;
   line-height: 18px;
   position: absolute;
   top: 190px;
   width: 198px;
   z-index: 0;
}
