div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 970px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Breadcrumb2 {
   background-color: #87CEEB;
   background-image: none;
   border: 0px #C0C0C0 solid;
   font-family: Arial;
   font-size: 0;
   font-weight: normal;
   list-style: none;
   padding: 8px 15px 8px 15px;
}
#Breadcrumb2 > li {
   display: inline-block;
   font-size: 21px;
}
#Breadcrumb2 a {
   color: #337AB7;
   text-decoration: none;
}
#Breadcrumb2 a:hover {
   color: #23527C;
   text-decoration: underline;
}
#Breadcrumb2 > .active {
   color: #777777;
}
#Breadcrumb2 > li + li:before {
   color: #FFFFFF;
   content: ">";
   padding: 0 5px;
}
#Breadcrumb2 li i {
   font-size: 21px;
   width: 23px;
}
#NavigationBar2 ul.navbar {
   list-style: none;
   margin: 0;
   padding: 0;
}
#NavigationBar2 ul.navbar li {
   float: left;
   height: 30px;
   margin: 0 0px 0 0;
   overflow: hidden;
   width: 148px;
}
#NavigationBar2 ul.navbar li a {
   display: block;
   position: relative;
}
#NavigationBar2 ul.navbar li a img {
   border-width: 0;
   left: 0;
   position: absolute;
   z-index: 1;
}
#NavigationBar2.affix {
   left: 50%  !important;
   margin-left: -485px;
   position: fixed  !important;
   top: 0  !important;
}
#TabMenu1 {
   float: left;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   list-style-type: none;
   margin: 0;
   overflow: hidden;
   padding: 15px 0px 4px 10px;
   text-align: left;
   width: 100%;
}
#TabMenu1 li {
   float: left;
}
#TabMenu1 li a.active,
#TabMenu1 li a:hover.active {
   font-weight: normal;
   position: relative;
   text-decoration: none;
   z-index: 2;
}
#TabMenu1 li a {
   -moz-transition: 200ms all linear;
   -webkit-transition: 200ms all linear;
   border-bottom: none;
   margin-right: 3px;
   padding: 5px 14px 8px 14px;
   position: relative;
   text-decoration: none;
   top: 0;
   transition: 200ms all linear;
}
#TabMenu1 li a:hover {
   font-weight: normal;
   text-decoration: none;
   top: -4px;
}
#TabMenu1 {
   border-bottom: 1px solid #C0C0C0;
}
#TabMenu1 li a.active,
#TabMenu1 li a:hover.active {
   background-color: #FFFFFF;
   color: #666666;
}
#TabMenu1 li a {
   background-color: #EEEEEE;
   border: 1px solid #C0C0C0;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   color: #666666;
}
#TabMenu1 li a:hover {
   background: #C0C0C0;
   color: #666666;
}
.SiteTree1 {
   background-color: transparent;
   background-image: none;
   border: 1px transparent solid;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
}
#wb_PanelMenu1 a,
#PanelMenu1_markup li a {
   display: block;
   text-align: center;
   vertical-align: middle;
}
#PanelMenu1_markup {
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup ul {
   list-style-type: none;
   list-style: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a,
#PanelMenu1_markup li a:hover {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   border-bottom-width: 1px;
   border-radius: 0;
   border-width: 0;
   box-shadow: none;
   padding: 10px 10px 10px 10px;
}
#PanelMenu1_panel {
   display: none;
   height: 100%;
   position: absolute;
   position: fixed;
   top: 0;
   width: 250px;
   z-index: 9999;
}
#wb_PanelMenu1 a,
#PanelMenu1_markup li a {
   background-color: #3E3E3E;
   border: 1px #2E2E2E solid;
   color: #F7F7F7;
   font-family: Arial;
   font-size: 21px;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
}
#wb_PanelMenu1 a:hover,
#PanelMenu1_markup li a:hover {
   background-color: #484848;
   border: 1px #2E2E2E solid;
   color: #F7F7F7;
}
#PanelMenu1_panel {
   background-color: #3E3E3E;
   overflow-y: auto;
}
#PanelMenu1 {
   height: 278px;
   line-height: 278px;
   width: 298px;
}
#ListView1 {
   border-width: 0;
   font-family: Arial;
   font-size: 0;
   font-weight: normal;
   height: 100%;
   width: 100%;
}
#ListView1 .ui-btn {
   cursor: pointer;
   display: block;
   margin: .5em 0;
   overflow: hidden;
   padding: 12px 18px 12px 18px;
   position: relative;
   text-align: center;
   text-overflow: ellipsis;
}
#ListView1 .ui-btn:link {
   text-decoration: none  !important;
}
#ListView1 .ui-btn,
label.ui-btn {
   border-style: solid;
   border-width: 1px;
}
#ListView1,
#ListView1 > li {
   font-size: 21px;
   list-style: none;
   margin: 0;
   padding: 0;
}
#ListView1 > li {
   display: block;
   overflow: visible;
   position: relative;
}
#ListView1 > .ui-li-static,
#ListView1 > .ui-li-divider,
#ListView1 > li > a.ui-btn {
   display: block;
   margin: 0;
   overflow: hidden;
   position: relative;
   text-align: left;
   text-overflow: ellipsis;
}
#ListView1 > .ui-li-static,
#ListView1 > .ui-li-divider,
#ListView1 > li > a.ui-btn {
   border-style: solid;
   border-width: 1px 1px 0 1px;
   font-weight: normal;
}
#ListView1 .ui-state-default {
   color: #FFFFFF  !important;
}
#ListView1 .ui-state-hover {
   color: #FFFFFF  !important;
}
#ListView1 .ui-state-active {
   color: #FFFFFF  !important;
}
#ListView1 > .ui-li-divider {
   cursor: default;
   outline: 0;
   padding: 10px 10px 10px 10px;
}
#ListView1 > .ui-li-static {
   padding: 12px 18px 12px 18px;
}
#ListView1 > li.ui-first-child,
#ListView1 > li.ui-first-child > a.ui-btn {
   -moz-border-top-left-radius: 4px;
   -moz-border-top-right-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
}
#ListView1 > li.ui-last-child,
#ListView1 > li.ui-last-child > a.ui-btn {
   -moz-border-bottom-left-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   -webkit-border-bottom-left-radius: 4px;
   -webkit-border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
}
#ListView1 > .ui-li-has-icon > .ui-btn,
#ListView1 > .ui-li-static.ui-li-has-icon {
   min-height: 0px;
   padding-left: 36px;
}
#ListView1 > .ui-li-static.ui-last-child,
#ListView1 > .ui-li-divider.ui-last-child,
#ListView1 > li.ui-last-child > a.ui-btn {
   border-bottom-width: 1px;
}
#ListView1 > .ui-li-has-icon > img:first-child,
#ListView1 > .ui-li-has-icon > .ui-btn > img:first-child {
   border-width: 0;
   left: 18px;
   max-height: 0px;
   max-width: 0px;
   position: absolute;
   top: 12px;
}
#ListView1 p {
   font-size: 11px;
   font-weight: normal;
   margin: 0;
   padding: 8px 0px 0px 0px;
}
#jQueryMenu1,
#jQueryMenu1 .ui-menu-item a {
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   text-decoration: none;
}
#jQueryMenu1 .ui-menu-item a:visited {
   color: #222222;
}
#jQueryMenu1 > li {
   display: inline-block;
   list-style: none;
   width: auto;
}
#jQueryMenu1 .ui-menu-item {
   line-height: 23px;
   padding: 4px 4px 4px 4px;
}
#jQueryMenu1 > .ui-menu-item {
   padding: 4px 20px 4px 4px;
}
#jQueryMenu1 ul {
   width: 130px;
}
#Label2 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Label2 {
   height: 26px;
   left: 742px;
   line-height: 26px;
   position: absolute;
   top: 440px;
   width: 232px;
   z-index: 7;
}
#wb_TabMenu1 {
   height: 280px;
   left: 0px;
   overflow: hidden;
   position: absolute;
   top: 160px;
   width: 968px;
   z-index: 2;
}
#wb_jQueryMenu1 {
   height: 420px;
   left: 380px;
   position: absolute;
   top: 810px;
   width: 540px;
   z-index: 1006;
}
#wb_ListView1 {
   height: 648px;
   left: 750px;
   position: absolute;
   top: 500px;
   width: 648px;
   z-index: 5;
}
#NavigationBar2 {
   height: 100px;
   left: 0px;
   position: absolute;
   top: 40px;
   width: 1040px;
   z-index: 1;
}
#wb_PanelMenu1 {
   height: 278px;
   left: 380px;
   position: absolute;
   text-align: center;
   top: 510px;
   width: 298px;
   z-index: 4;
}
#SiteTree1 {
   height: 278px;
   left: 40px;
   overflow: auto;
   position: absolute;
   top: 460px;
   width: 188px;
   z-index: 3;
}
#ListView1 {
   margin-bottom: 0px;
   margin-top: 0px;
}
#wb_Breadcrumb2 {
   height: 40px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 970px;
   z-index: 0;
}
