div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 1250px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Layer1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#Extension1 {
   line-height: 1;
   margin: 0 auto 3em;
}
#Extension1 *,
#Extension1 ::after,
#Extension1 ::before {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
#Extension1 {
   -webkit-flex-wrap: wrap;
   display: -webkit-flex;
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#Extension1 li {
   display: block;
   width: 16.666666%;
}
#Extension1 li a {
   cursor: pointer;
   display: block;
   font-family: "Arial";
   font-size: 19px;
   font-style: normal;
   font-weight: bold;
   padding: 10px 0 10px 0;
   text-decoration: none;
}
#Extension1 li a:hover,
#Extension1 li a:focus {
   outline: none;
}
#Extension1 li a {
   -webkit-transition: color 400ms;
   color: #000000;
   display: block;
   position: relative;
   text-align: center;
   transition: color 400ms;
}
#Extension1 li a:hover {
   color: #7A7A7A;
}
#Extension1 .active a {
   color: #7A7A7A;
}
#Extension1 .box {
   -webkit-transition-timing-function: linear;
   -webkit-transition: -webkit-transform 400ms 0.2s;
   border: 2px solid #424242;
   border-width: 2px 0;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   position: absolute;
   top: 0;
   transition-timing-function: linear;
   transition: transform 400ms 0.2s;
   width: 16.666666%;
   z-index: -1;
}
#Extension1 .box::before,
#Extension1 .box::after {
   -webkit-transform-origin: 0% 50%;
   border: 2px solid #424242;
   border-width: 0 2px;
   content: "";
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   transform-origin: 0% 50%;
   width: 100%;
}
#Extension1 .box::before {
   -webkit-transform: scale3d(1, 0, 1);
   -webkit-transition: -webkit-transform 0.2s ease;
   transform: scale3d(1, 0, 1);
   transition: transform 0.2s ease;
}
#Extension1 .box::after {
   -webkit-transform: scale3d(1, 1, 1);
   -webkit-transition: -webkit-transform 0.2s ease 0.7s;
   transform: scale3d(1, 1, 1);
   transition: transform 0.2s ease 0.7s;
}
#Extension1 li:active:not(.active) ~ .box::before,
#Extension1 li:active:not(.active) ~ .box::after {
   -webkit-transition: -webkit-transform 0s;
   transition: transform 0s;
}
#Extension1 li:active:not(.active) ~ .box::before {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
}
#Extension1 li:active:not(.active) ~ .box::after {
   -webkit-transform: scale3d(1, 0, 1);
   transform: scale3d(1, 0, 1);
}
#Extension1 li:nth-child(1).active ~ .box {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
#Extension1 li:nth-child(2).active ~ .box {
   -webkit-transform: translate3d(100%, 0, 0);
   transform: translate3d(100%, 0, 0);
}
#Extension1 li:nth-child(3).active ~ .box {
   -webkit-transform: translate3d(200%, 0, 0);
   transform: translate3d(200%, 0, 0);
}
#Extension1 li:nth-child(4).active ~ .box {
   -webkit-transform: translate3d(300%, 0, 0);
   transform: translate3d(300%, 0, 0);
}
#Extension1 li:nth-child(5).active ~ .box {
   -webkit-transform: translate3d(400%, 0, 0);
   transform: translate3d(400%, 0, 0);
}
#Extension1 li:nth-child(6).active ~ .box {
   -webkit-transform: translate3d(500%, 0, 0);
   transform: translate3d(500%, 0, 0);
}
#Layer2 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#Banner4 {
   background-color: #32CD32;
   background-image: none;
   border: 2px transparent solid;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
   font-weight: bold;
   text-align: center;
}
#Banner4 span {
   display: block;
   height: 19px;
   margin: 2px 0px 2px 0px;
}
#Banner4:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #32CD32;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#indexShape5 {
   background-color: #1E90FF;
   background-image: none;
   border: 0px #245580 solid;
   height: 99px;
   top: 0px;
   width: 214px;
}
#indexShape5:hover {
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#indexShape5_text {
   height: 97px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 1px;
   width: 212px;
}
#indexShape5:hover span {
   color: #0000FF  !important;
}
#indexShape5 span:hover {
   color: #0000FF  !important;
}
#indexShape9 {
   background-color: #4169E1;
   background-image: none;
   border: 1px #245580 solid;
   height: 61px;
   top: 0px;
   width: 228px;
}
#indexShape9:hover {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #0000FF solid;
}
#indexShape9_text {
   height: 59px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 1px;
   width: 226px;
}
#indexShape9:hover span {
   color: #0000FF  !important;
}
#indexShape9 span:hover {
   color: #0000FF  !important;
}
#Shape1 {
   background-color: #4169E1;
   background-image: none;
   border: 0px #245580 solid;
   height: 99px;
   top: 0px;
   width: 214px;
}
#Shape1:hover {
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#Shape1_text {
   height: 97px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 1px;
   width: 212px;
}
#Shape1:hover span {
   color: #0000FF  !important;
}
#Shape1 span:hover {
   color: #0000FF  !important;
}
#btn-webmail {
   background-color: #32CD32;
   background-image: none;
   border: 0px #245580 solid;
   height: 28px;
   top: 0px;
   width: 109px;
}
#btn-webmail:hover {
   background-color: #32CD32;
   background-image: none;
   border: 0px #32CD32 solid;
}
#btn-webmail_text {
   height: 24px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 3px;
   width: 107px;
}
#btn-webmail:hover span {
   color: #0000FF  !important;
}
#btn-webmail span:hover {
   color: #0000FF  !important;
}
#btn-webmail:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #32CD32;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Shape2 {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   height: 50px;
   top: 0px;
   width: 150px;
}
#Shape2:hover {
   background-color: #D2691E;
   background-image: none;
   border: 0px #CD853F solid;
}
#Shape2_text {
   height: 35px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 14px;
   width: 148px;
}
#Shape2:hover span {
   color: #0000FF  !important;
}
#Shape2 span:hover {
   color: #0000FF  !important;
}
#Shape2:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Shape3 {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   height: 50px;
   top: 0px;
   width: 150px;
}
#Shape3:hover {
   background-color: #D2691E;
   background-image: none;
   border: 0px #CD853F solid;
}
#Shape3_text {
   height: 35px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 14px;
   width: 148px;
}
#Shape3:hover span {
   color: #0000FF  !important;
}
#Shape3 span:hover {
   color: #0000FF  !important;
}
#Shape3:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#TextArt2 {
   border-width: 0;
}
#Layer3 {
   background-color: #1E90FF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius: 1px;
}
#Layer4 {
   background-color: #D2691E;
   background-image: none;
   border: 1px transparent solid;
}
#Label1 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#Editbox2 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox2:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#wb_uid1 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   line-height: 20px;
}
#Editbox1 {
   height: 26px;
   left: 269px;
   line-height: 26px;
   position: absolute;
   top: 69px;
   width: 230px;
   z-index: 1;
}
#wb_uid2 {
   color: #FFFFFF;
   font-family: Lucida Calligraphy;
   font-size: 19px;
}
#Editbox2 {
   height: 26px;
   left: 639px;
   line-height: 26px;
   position: absolute;
   top: 69px;
   width: 230px;
   z-index: 2;
}
#wb_uid3 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
#wb_btn-webmail {
   height: 28px;
   left: 80px;
   position: absolute;
   top: 530px;
   width: 109px;
   z-index: 13;
}
#wb_uid4 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
#wb_indexShape5 {
   height: 99px;
   left: 320px;
   position: absolute;
   top: 490px;
   width: 214px;
   z-index: 11;
}
#wb_Extension1 {
   height: 50px;
   left: 29px;
   position: absolute;
   top: 129px;
   width: 1200px;
   z-index: 0;
}
#wb_uid5 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
#Layer1 {
   height: 198px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 0px;
   width: 1248px;
   z-index: 7;
}
#Banner4 {
   height: 23px;
   left: 50px;
   position: absolute;
   top: 460px;
   width: 137px;
   z-index: 10;
}
#Layer2 {
   height: 198px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 400px;
   width: 1248px;
   z-index: 8;
}
#Layer4_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 318px;
}
#Layer3 {
   height: 50px;
   left: 130px;
   position: absolute;
   text-align: center;
   top: 650px;
   width: 968px;
   z-index: 17;
}
#Layer4 {
   height: 48px;
   left: 648px;
   position: absolute;
   text-align: center;
   top: 0px;
   width: 318px;
   z-index: 5;
}
#wb_indexShape9 {
   height: 63px;
   left: 559px;
   position: absolute;
   top: 59px;
   width: 230px;
   z-index: 3;
}
#Layer3_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 968px;
}
#wb_TextArt2 {
   filter: alpha(opacity=50);
   height: 16px;
   left: 730px;
   opacity: 0.50;
   position: absolute;
   top: 320px;
   width: 300px;
   z-index: 16;
}
#wb_Shape1 {
   height: 99px;
   left: 900px;
   position: absolute;
   top: 490px;
   width: 214px;
   z-index: 12;
}
#TextArt2 {
   height: 16px;
   width: 300px;
}
#wb_Shape2 {
   height: 50px;
   left: 230px;
   position: absolute;
   top: 400px;
   width: 150px;
   z-index: 14;
}
#Label1 {
   height: 26px;
   left: 9px;
   line-height: 26px;
   position: absolute;
   top: 7px;
   width: 292px;
   z-index: 4;
}
#wb_Shape3 {
   height: 50px;
   left: 340px;
   position: absolute;
   top: 290px;
   width: 150px;
   z-index: 15;
}
#wb_uid0 {
   color: #FFFFFF;
   font-family: Comic Sans MS;
   font-size: 24px;
   line-height: 37px;
}
