div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 970px;
}
body {
   background-color: #FFFFFF;
   background-image: url(../images/Promotions_bkgrnd.png);
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#foot {
   background-color: #808080;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Layer1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#Label2 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#btnconnexion {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
   font-weight: bold;
}
#btnconnexion:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Layer3 {
   background-color: transparent;
   background-image: none;
}
#Line2 {
   background-color: #1E90FF;
   border-width: 0;
   color: #1E90FF;
   margin: 0;
   padding: 0;
}
#wb_Heading1 {
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#Heading1 {
   color: #1E90FF;
   font-family: Arial;
   font-size: 32px;
   font-weight: bold;
   margin: 0;
   text-align: center;
}
#Line1 {
   background-color: #1E90FF;
   border-width: 0;
   color: #1E90FF;
   margin: 0;
   padding: 0;
}
#Table1 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   border-collapse: separate;
   border-spacing: 0px;
}
#Table1 td {
   padding: 0px 0px 0px 0px;
}
#Table1 td div {
   white-space: nowrap;
}
#Table1 .cell0 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   height: 49px;
   text-align: left;
   vertical-align: top;
   width: 155px;
}
#Table1 .cell1 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   height: 49px;
   text-align: left;
   vertical-align: top;
}
#Table1 .cell2 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   height: 52px;
   text-align: left;
   vertical-align: top;
   width: 155px;
}
#Table1 .cell3 {
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   height: 52px;
   text-align: left;
   vertical-align: top;
}
#Breadcrumb2 {
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
   font-family: Arial;
   font-size: 0;
   font-weight: normal;
   list-style: none;
   padding: 8px 15px 8px 15px;
}
#Breadcrumb2 > li {
   display: inline-block;
   font-size: 16px;
}
#Breadcrumb2 a {
   color: #D2691E;
   text-decoration: none;
}
#Breadcrumb2 a:hover {
   color: #23527C;
   text-decoration: underline;
}
#Breadcrumb2 > .active {
   color: #777777;
}
#Breadcrumb2 > li + li:before {
   color: #D2691E;
   content: ">";
   padding: 0 5px;
}
#Breadcrumb2 li i {
   font-size: 16px;
   width: 18px;
}
#Layer2 {
   background-color: #1E90FF;
   background-image: none;
}
#Shape2 {
   border-width: 0;
}
#Label3 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 17px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text1 div {
   text-align: left;
   white-space: nowrap;
}
#Editbox4 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox4:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#TextArea1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   overflow: auto;
   padding: 4px 4px 4px 4px;
   resize: none;
   text-align: left;
}
#TextArea1:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#Editbox1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox1:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#Editbox2 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox2:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#ContratsCombobox1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 4px;
   -moz-box-sizing: border-box;
   -webkit-border-radius: 4px;
   -webkit-box-sizing: border-box;
   border-radius: 4px;
   box-sizing: border-box;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
}
#ContratsCombobox1:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#Divi {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#head {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px transparent solid;
}
#band {
   border-width: 0;
}
#edit_reche {
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   border-bottom-color: #1E90FF;
   border-bottom-left-radius: 1px;
   border-bottom-right-radius: 1px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-left-color: #1E90FF;
   border-left-style: solid;
   border-left-width: 1px;
   border-radius: 4px;
   border-right-color: #1E90FF;
   border-right-style: solid;
   border-right-width: 1px;
   border-top-color: #1E90FF;
   border-top-left-radius: 1px;
   border-top-right-radius: 1px;
   border-top-style: solid;
   border-top-width: 1px;
   color: #000000;
   font-family: Arial;
   font-size: 15px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#edit_reche:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#wb_icosear {
   border: 1px transparent solid;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   background-color: transparent;
   background-image: none;
   border-radius: 1px;
   padding: 0px 0px 0px 0px;
   text-align: center;
}
#wb_icosear:hover {
   background-color: transparent;
   background-image: none;
   border: 1px transparent solid;
}
#icosear {
   height: 18px;
   width: 18px;
}
#icosear i {
   color: #CD853F;
   display: inline-block;
   font-size: 18px;
   line-height: 18px;
   vertical-align: middle;
   width: 19px;
}
#wb_icosear:hover i {
   color: #1E90FF;
}
#wb_local {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_local div {
   text-align: left;
   white-space: nowrap;
}
#wb_icolocal {
   background-color: transparent;
   background-image: none;
   border: 0px #1E90FF solid;
   padding: 0px 0px 0px 0px;
   text-align: center;
}
#wb_icolocal:hover {
   background-color: transparent;
   background-image: none;
   border: 0px #1E90FF solid;
}
#icolocal {
   height: 23px;
   width: 30px;
}
#icolocal i {
   color: #1E90FF;
   display: inline-block;
   font-size: 23px;
   line-height: 23px;
   vertical-align: middle;
   width: 13px;
}
#wb_icolocal:hover i {
   color: #1E90FF;
}
#wb_txtacc {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_txtacc div {
   text-align: center;
   white-space: nowrap;
}
#logo {
   border: 0px #000000 solid;
   height: 100%;
   left: 0;
   padding: 0px 0px 0px 0px;
   top: 0;
   width: 100%;
}
#Nav ul.navbar {
   list-style: none;
   margin: 0;
   padding: 0;
}
#Nav ul.navbar li {
   float: left;
   height: 42px;
   margin: 0 0px 0 0;
   width: 161px;
}
#Nav ul.navbar li a {
   display: block;
   position: relative;
}
#Nav ul.navbar li a img {
   border-width: 0;
   left: 0;
   position: absolute;
   z-index: 1;
}
#Nav ul.navbar li span {
   display: block;
   height: 42px;
   position: absolute;
   width: 161px;
   z-index: 2;
}
#head {
   height: 204px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 0px;
   width: 967px;
   z-index: 26;
}
#Editbox1 {
   height: 26px;
   left: 278px;
   line-height: 26px;
   position: absolute;
   top: 229px;
   width: 241px;
   z-index: 11;
}
#wb_uid19 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid1 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#Label2 {
   height: 26px;
   left: 98px;
   line-height: 26px;
   position: absolute;
   top: 39px;
   width: 764px;
   z-index: 4;
}
#wb_band {
   height: 100px;
   left: 259px;
   position: absolute;
   top: 39px;
   width: 470px;
   z-index: 19;
}
#Label3 {
   height: 21px;
   left: 739px;
   line-height: 21px;
   position: absolute;
   top: 2px;
   width: 222px;
   z-index: 18;
}
#Editbox2 {
   height: 26px;
   left: 278px;
   line-height: 26px;
   position: absolute;
   top: 289px;
   width: 241px;
   z-index: 12;
}
#wb_uid2 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_Text1 {
   height: 24px;
   left: 159px;
   position: absolute;
   text-align: left;
   top: 119px;
   width: 100px;
   z-index: 7;
}
#wb_icolocal {
   height: 23px;
   left: 899px;
   position: absolute;
   text-align: center;
   top: 9px;
   width: 30px;
   z-index: 23;
}
#wb_icosear {
   height: 18px;
   left: 899px;
   position: absolute;
   text-align: center;
   top: 159px;
   width: 18px;
   z-index: 21;
}
#Shape2 {
   height: 32px;
   width: 310px;
}
#wb_uid3 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid4 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#Editbox4 {
   height: 26px;
   left: 278px;
   line-height: 26px;
   position: absolute;
   top: 169px;
   width: 241px;
   z-index: 8;
}
#wb_local {
   height: 17px;
   left: 716px;
   position: absolute;
   text-align: left;
   top: 15px;
   width: 185px;
   z-index: 22;
}
#wb_uid5 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#Layer1 {
   height: 1258px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 310px;
   width: 968px;
   z-index: 36;
}
#Layer2 {
   height: 32px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 310px;
   width: 969px;
   z-index: 38;
}
#wb_uid40 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid6 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#Table1 {
   height: 362px;
   left: 12px;
   position: absolute;
   top: 871px;
   width: 945px;
   z-index: 10;
}
#wb_logo {
   height: 200px;
   left: 9px;
   position: absolute;
   top: 4px;
   width: 240px;
   z-index: 25;
}
#band {
   height: 100px;
   width: 470px;
}
#wb_uid41 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid30 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid7 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#TextArea1 {
   height: 228px;
   left: 278px;
   position: absolute;
   top: 363px;
   width: 478px;
   z-index: 9;
}
#Layer3 {
   height: 108px;
   left: 25.567%;
   position: absolute;
   text-align: left;
   top: 749px;
   width: 475px;
   z-index: 6;
}
#edit_reche {
   height: 19px;
   left: 729px;
   line-height: 19px;
   position: absolute;
   top: 159px;
   width: 190px;
   z-index: 20;
}
#Divi {
   height: 278px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 0px;
   width: 970px;
   z-index: 39;
}
#wb_uid42 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid31 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid20 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid8 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid43 {
   height: 16px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 185px;
}
#wb_uid32 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid21 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid10 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid9 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid44 {
   color: #D3D3D3;
   font-family: Arial;
   font-size: 15px;
}
#wb_uid33 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid22 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid11 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid45 {
   height: 22px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 350px;
}
#wb_uid34 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid23 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid12 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid46 {
   color: #D3D3D3;
   font-family: Arial;
   font-size: 19px;
}
#wb_uid35 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid24 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid13 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#ContratsCombobox1 {
   height: 36px;
   left: 278px;
   position: absolute;
   top: 113px;
   width: 251px;
   z-index: 13;
}
#wb_uid36 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid25 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid14 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#Line1 {
   height: 8px;
   left: 23px;
   position: absolute;
   top: 19px;
   width: 428px;
   z-index: 3;
}
#copyrightnotice {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 12px;
   font-style: normal;
   font-weight: normal;
   text-align: center;
   text-decoration: none;
}
#wb_uid37 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid26 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid15 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#Line2 {
   height: 8px;
   left: 23px;
   position: absolute;
   top: 89px;
   width: 428px;
   z-index: 1;
}
#Nav {
   height: 42px;
   left: 0px;
   position: absolute;
   top: 215px;
   width: 969px;
   z-index: 27;
}
#wb_txtacc {
   height: 23px;
   left: 319px;
   position: absolute;
   text-align: center;
   top: 149px;
   width: 350px;
   z-index: 24;
}
#wb_uid38 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid27 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid16 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#foot_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 970px;
}
#foot {
   height: 360px;
   left: 0px;
   position: absolute;
   text-align: center;
   top: 1570px;
   width: 970px;
   z-index: 35;
}
#wb_Shape2 {
   height: 32px;
   left: 659px;
   position: absolute;
   top: 0px;
   width: 310px;
   z-index: 17;
}
#wb_Breadcrumb2 {
   height: 30px;
   left: 0px;
   position: absolute;
   top: 280px;
   width: 970px;
   z-index: 37;
}
#wb_uid39 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid28 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid17 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#btnconnexion {
   height: 50px;
   left: 409px;
   position: absolute;
   top: 649px;
   width: 150px;
   z-index: 5;
}
#wb_JavaScript1 {
   height: 22px;
   left: 284px;
   position: absolute;
   top: 329px;
   width: 400px;
   z-index: 0;
}
#wb_uid29 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid18 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_uid0 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
#wb_Heading1 {
   height: 40px;
   left: 85px;
   position: absolute;
   text-align: center;
   top: 40px;
   width: 305px;
   z-index: 2;
}
