div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 970px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Extension1 {
   line-height: 1;
   margin: 0 auto 3em;
}
#Extension1 *,
#Extension1 ::after,
#Extension1 ::before {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
#Extension1 {
   -webkit-flex-wrap: wrap;
   display: -webkit-flex;
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#Extension1 li {
   display: block;
   width: 16.666666%;
}
#Extension1 li a {
   cursor: pointer;
   display: block;
   font-family: "Arial";
   font-size: 19px;
   font-style: normal;
   font-weight: bold;
   padding: 10px 0 10px 0;
   text-decoration: none;
}
#Extension1 li a:hover,
#Extension1 li a:focus {
   outline: none;
}
#Extension1 li a {
   -webkit-transition: color 400ms;
   color: #000000;
   display: block;
   position: relative;
   text-align: center;
   transition: color 400ms;
}
#Extension1 li a:hover {
   color: #7A7A7A;
}
#Extension1 .active a {
   color: #7A7A7A;
}
#Extension1 .box {
   -webkit-transition-timing-function: linear;
   -webkit-transition: -webkit-transform 400ms 0.2s;
   border: 2px solid #424242;
   border-width: 2px 0;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   position: absolute;
   top: 0;
   transition-timing-function: linear;
   transition: transform 400ms 0.2s;
   width: 16.666666%;
   z-index: -1;
}
#Extension1 .box::before,
#Extension1 .box::after {
   -webkit-transform-origin: 0% 50%;
   border: 2px solid #424242;
   border-width: 0 2px;
   content: "";
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   transform-origin: 0% 50%;
   width: 100%;
}
#Extension1 .box::before {
   -webkit-transform: scale3d(1, 0, 1);
   -webkit-transition: -webkit-transform 0.2s ease;
   transform: scale3d(1, 0, 1);
   transition: transform 0.2s ease;
}
#Extension1 .box::after {
   -webkit-transform: scale3d(1, 1, 1);
   -webkit-transition: -webkit-transform 0.2s ease 0.7s;
   transform: scale3d(1, 1, 1);
   transition: transform 0.2s ease 0.7s;
}
#Extension1 li:active:not(.active) ~ .box::before,
#Extension1 li:active:not(.active) ~ .box::after {
   -webkit-transition: -webkit-transform 0s;
   transition: transform 0s;
}
#Extension1 li:active:not(.active) ~ .box::before {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
}
#Extension1 li:active:not(.active) ~ .box::after {
   -webkit-transform: scale3d(1, 0, 1);
   transform: scale3d(1, 0, 1);
}
#Extension1 li:nth-child(1).active ~ .box {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
#Extension1 li:nth-child(2).active ~ .box {
   -webkit-transform: translate3d(100%, 0, 0);
   transform: translate3d(100%, 0, 0);
}
#Extension1 li:nth-child(3).active ~ .box {
   -webkit-transform: translate3d(200%, 0, 0);
   transform: translate3d(200%, 0, 0);
}
#Extension1 li:nth-child(4).active ~ .box {
   -webkit-transform: translate3d(300%, 0, 0);
   transform: translate3d(300%, 0, 0);
}
#Extension1 li:nth-child(5).active ~ .box {
   -webkit-transform: translate3d(400%, 0, 0);
   transform: translate3d(400%, 0, 0);
}
#Extension1 li:nth-child(6).active ~ .box {
   -webkit-transform: translate3d(500%, 0, 0);
   transform: translate3d(500%, 0, 0);
}
#Extension2 {
   line-height: 1;
   margin: 0 auto 3em;
}
#Extension2 *,
#Extension2 ::after,
#Extension2 ::before {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
#Extension2 {
   -webkit-flex-wrap: wrap;
   display: -webkit-flex;
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#Extension2 li {
   display: block;
   width: 16.666666%;
}
#Extension2 li a {
   cursor: pointer;
   display: block;
   font-family: "Arial";
   font-size: 19px;
   font-style: normal;
   font-weight: bold;
   padding: 10px 0 10px 0;
   text-decoration: none;
}
#Extension2 li a:hover,
#Extension2 li a:focus {
   outline: none;
}
#Extension2 li a {
   -webkit-transition: color 400ms;
   color: #000000;
   display: block;
   position: relative;
   text-align: center;
   transition: color 400ms;
}
#Extension2 li a:hover {
   color: #7A7A7A;
}
#Extension2 .active a {
   color: #7A7A7A;
}
#Extension2 .box {
   -webkit-transition-timing-function: linear;
   -webkit-transition: -webkit-transform 400ms 0.2s;
   border: 2px solid #424242;
   border-width: 2px 0;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   position: absolute;
   top: 0;
   transition-timing-function: linear;
   transition: transform 400ms 0.2s;
   width: 16.666666%;
   z-index: -1;
}
#Extension2 .box::before,
#Extension2 .box::after {
   -webkit-transform-origin: 0% 50%;
   border: 2px solid #424242;
   border-width: 0 2px;
   content: "";
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   transform-origin: 0% 50%;
   width: 100%;
}
#Extension2 .box::before {
   -webkit-transform: scale3d(1, 0, 1);
   -webkit-transition: -webkit-transform 0.2s ease;
   transform: scale3d(1, 0, 1);
   transition: transform 0.2s ease;
}
#Extension2 .box::after {
   -webkit-transform: scale3d(1, 1, 1);
   -webkit-transition: -webkit-transform 0.2s ease 0.7s;
   transform: scale3d(1, 1, 1);
   transition: transform 0.2s ease 0.7s;
}
#Extension2 li:active:not(.active) ~ .box::before,
#Extension2 li:active:not(.active) ~ .box::after {
   -webkit-transition: -webkit-transform 0s;
   transition: transform 0s;
}
#Extension2 li:active:not(.active) ~ .box::before {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
}
#Extension2 li:active:not(.active) ~ .box::after {
   -webkit-transform: scale3d(1, 0, 1);
   transform: scale3d(1, 0, 1);
}
#Extension2 li:nth-child(1).active ~ .box {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
#Extension2 li:nth-child(2).active ~ .box {
   -webkit-transform: translate3d(100%, 0, 0);
   transform: translate3d(100%, 0, 0);
}
#Extension2 li:nth-child(3).active ~ .box {
   -webkit-transform: translate3d(200%, 0, 0);
   transform: translate3d(200%, 0, 0);
}
#Extension2 li:nth-child(4).active ~ .box {
   -webkit-transform: translate3d(300%, 0, 0);
   transform: translate3d(300%, 0, 0);
}
#Extension2 li:nth-child(5).active ~ .box {
   -webkit-transform: translate3d(400%, 0, 0);
   transform: translate3d(400%, 0, 0);
}
#Extension2 li:nth-child(6).active ~ .box {
   -webkit-transform: translate3d(500%, 0, 0);
   transform: translate3d(500%, 0, 0);
}
#divmenu {
   background-color: #1E90FF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius: 1px;
}
#btn-webmail {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   height: 50px;
   top: 0px;
   width: 150px;
}
#btn-webmail:hover {
   background-color: #D2691E;
   background-image: none;
   border: 0px #CD853F solid;
}
#btn-webmail_text {
   height: 35px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 14px;
   width: 148px;
}
#btn-webmail:hover span {
   color: #0000FF  !important;
}
#btn-webmail span:hover {
   color: #0000FF  !important;
}
#btn-webmail:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Layer1 {
   background-color: #1E90FF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius: 1px;
}
#Layer2 {
   background-color: #D2691E;
   background-image: none;
   border: 1px #FFFFFF solid;
}
#Label1 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
.ui-widget {
   font-size: 1em  !important;
}
.ui-dialog {
   padding: 4px 4px 4px 4px;
}
.ui-dialog .ui-dialog-title {
   color: #E69700;
   font-family: "Comic Sans MS";
   font-size: 21px;
   font-style: normal;
   font-weight: bold;
}
.ui-dialog .ui-dialog-titlebar {
   padding: 10px 10px 10px 30px;
}
.ui-dialog .ui-dialog-titlebar-close {
   outline: 0;
   right: 10px;
}
.jQueryDialog1,
.jQueryDialog1 .ui-corner-all {
   -moz-border-radius: 0px;
   -webkit-border-radius: 0px;
   border-radius: 0px;
}
#btn_inscription {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   height: 50px;
   top: 0px;
   width: 150px;
}
#btn_inscription:hover {
   background-color: #D2691E;
   background-image: none;
   border: 0px #CD853F solid;
}
#btn_inscription_text {
   height: 35px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 14px;
   width: 148px;
}
#btn_inscription:hover span {
   color: #0000FF  !important;
}
#btn_inscription span:hover {
   color: #0000FF  !important;
}
#btn_inscription:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Label2 {
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Layer3 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#Editbox1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox1:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#Shape1 {
   background-color: #D2691E;
   background-image: none;
   border: 0px #245580 solid;
   height: 50px;
   top: 0px;
   width: 150px;
}
#Shape1:hover {
   background-color: #D2691E;
   background-image: none;
   border: 0px #CD853F solid;
}
#Shape1_text {
   height: 35px;
   left: 1px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 14px;
   width: 148px;
}
#Shape1:hover span {
   color: #0000FF  !important;
}
#Shape1 span:hover {
   color: #0000FF  !important;
}
#Shape1:hover {
   -moz-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   -webkit-transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
   background-color: #CD853F;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   color: #0000FF;
   transition: box-shadow 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#jd {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FF7F50 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #808080;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#jd:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   border-color: #1E90FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(30,144,255,0.60);
   outline: 0;
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_Text1 div {
   text-align: center;
   white-space: nowrap;
}
#Editbox1 {
   height: 26px;
   left: 11px;
   line-height: 26px;
   position: absolute;
   top: 60px;
   width: 230px;
   z-index: 3;
}
#Label2 {
   height: 26px;
   left: 30px;
   line-height: 26px;
   position: absolute;
   top: 236px;
   width: 232px;
   z-index: 8;
}
#wb_uid1 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
#Layer2_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 318px;
}
#wb_Text1 {
   height: 24px;
   left: 2px;
   position: absolute;
   text-align: center;
   top: 106px;
   width: 249px;
   z-index: 6;
}
#wb_uid2 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
#wb_uid3 {
   height: 24px;
   left: 0px;
   position: absolute;
   top: 0px;
   width: 249px;
}
#wb_btn_inscription {
   height: 50px;
   left: 75px;
   position: absolute;
   top: 268px;
   width: 150px;
   z-index: 7;
}
#wb_btn-webmail {
   height: 50px;
   left: 870px;
   position: absolute;
   top: 360px;
   width: 150px;
   z-index: 17;
}
#wb_uid4 {
   color: #808080;
   font-family: Arial;
   font-size: 21px;
}
#wb_Extension1 {
   height: 50px;
   left: 30px;
   position: absolute;
   top: 160px;
   width: 910px;
   z-index: 14;
}
#Layer1 {
   height: 50px;
   left: 70px;
   position: absolute;
   text-align: center;
   top: 482px;
   width: 949px;
   z-index: 18;
}
#wb_Extension2 {
   height: 50px;
   left: 90px;
   position: absolute;
   top: 110px;
   width: 1200px;
   z-index: 15;
}
#Layer2 {
   height: 48px;
   left: 629px;
   position: absolute;
   text-align: center;
   top: 0px;
   width: 318px;
   z-index: 1;
}
#Layer3 {
   height: 204px;
   left: 12px;
   position: absolute;
   text-align: left;
   top: 16px;
   width: 265px;
   z-index: 9;
}
#Layer1_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 949px;
}
#jd {
   height: 26px;
   left: 11px;
   line-height: 26px;
   position: absolute;
   top: 20px;
   width: 230px;
   z-index: 5;
}
#divmenu {
   height: 50px;
   left: 30px;
   position: absolute;
   text-align: center;
   top: 290px;
   width: 969px;
   z-index: 16;
}
#wb_Shape1 {
   height: 50px;
   left: 57px;
   position: absolute;
   top: 146px;
   width: 150px;
   z-index: 4;
}
#divmenu_Container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   text-align: left;
   width: 969px;
}
#Label1 {
   height: 26px;
   left: 9px;
   line-height: 26px;
   position: absolute;
   top: 7px;
   width: 292px;
   z-index: 0;
}
#wb_uid0 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 19px;
}
