div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 970px;
}
body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_Text1 div {
   text-align: left;
   white-space: nowrap;
}
#wb_Text1 {
   height: 24px;
   left: 494px;
   position: absolute;
   text-align: left;
   top: 30px;
   width: 250px;
   z-index: 0;
}
#wb_uid0 {
   color: #000000;
   font-family: Arial;
   font-size: 21px;
   line-height: 24px;
}
